@page "/user"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>
<button @onclick="GetClaimsPrincipalDataFromApi">Get API ClaimsPrincipal Data</button>


<p> Auth message:</p>
<p>@_authMessage</p>
<p>Hosting Environment: @HostEnvironment.Environment</p>

@if (_claims.Count() > 0)
{
    <ul>
        @foreach (var claim in _claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>@_surnameMessage</p>

@code {
    private string _authMessage;
    private string _surnameMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        SetAuthState(user);
    }

    private async Task GetClaimsPrincipalDataFromApi()
    {
        try
        {
            var clientPrincipal = await Http.GetFromJsonAsync<ClientPrincipal>("/api/secured/UserInfo");

            Console.WriteLine($"Clientprincipal claims: {clientPrincipal.Claims.Count()}");

            var claims = clientPrincipal.ToClaimsPrincipal();
            
            SetAuthState(claims);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            Console.WriteLine("Inner exception:");
            Console.WriteLine(ex.InnerException.ToString());
        }
    }

    private void SetAuthState(ClaimsPrincipal user)
    {
        _claims = user.Claims;
        _authMessage = $"Claims count: {_claims.Count()}.";
        if (user?.Identity?.IsAuthenticated == true)
        {
            foreach (var identity in user.Identities)
            {
                var authType = identity.AuthenticationType;
                var authName = identity.Name;
                _authMessage += $"{user.Identity.Name} is authenticated. Auth type: {authType}, Auth name: {authName}";
            }
            _surnameMessage =
                $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            _authMessage += "The user is NOT authenticated.";
        }
    }
}